#logo-left {
  background: $success-darken-2;
}

#logo-mid {
background: $success-darken-1;
}

Logo {
  width: 5;
}

#logo-right {
  background: $success;
  color: $primary 85%;
  text-style: bold;
}

#search-container {
  dock: top;
}

#search-bar {
  padding: 0 1;
  border: none;
  height: 1;
}

#dropdown {
  border-left: wide $success;
  scrollbar-color: $success;
  max-width: 48;
}

#dropdown .autocomplete--highlight-match {
  color: $text;
  background: $success;
}

#dropdown .autocomplete--selection-cursor {
  background: $success 20%;
}
