Logo {
  width: auto;
  padding-right: 1;
  background: $success;
  color: $primary 85%;
  text-style: bold;
  border-left: wide $success-lighten-2;
}

Crosshatch {
  height: 100%;
  width: 1fr;
}

Crosshatch .crosshatch {
  background: $surface;
  color: $surface-lighten-1;
}

#search-container {
  dock: top;
  height: 1;
}

#search-bar {
  padding: 0 1;
  border: none;
  height: 1;
}

#dropdown {
  border-left: wide $success;
  scrollbar-color: $success;
  max-width: 48;
}

#dropdown .autocomplete--highlight-match {
  color: $text;
  background: $success;
}

#dropdown .autocomplete--selection-cursor {
  background: $success 20%;
}
